<h1>My Planner</h1>
<table id="tab1" border="1" cellspacing="5" cellpadding="0" bgcolor="#ffffcc" align="center" width="80%">
  <col span="1" width="15%">
  <col span="1" width="70%">
  <col span="1" width="15%">
  <tr height="190px">
    <td>
      <div>
      </div>
    </td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr height="240px">
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
</table>