<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab" id="user_tab">Users</a></li>
        <li><a href="#B" data-toggle="tab" id="cat_tab">Activity categories</a></li>
        <li><a href="#C" data-toggle="tab" id="act_tab">Activities</a></li>
        <li><a href="#D" data-toggle="tab" id="cont_cat_tab">Content categories</a></li>
      <li><a href="#E" data-toggle="tab" id="cont_tab">Content</a></li>
    </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="A">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Admin</th>
        </tr>

        <% @users.each do |u| %>
            <tr>
              <td><%= u.name %></td>
              <td><%= u.email %></td>
              <td><% if u.admin %><i class="icon-user icon-ok"></i><%end%></td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="tab-pane" id="B">
      <p>Modify activity categories.</p>
    </div>
    <div class="tab-pane" id="C">
    <p>Modify activities.</p>
    </div>
    <div class="tab-pane" id="D">
      <p>Modify content categories.</p>
    </div>
    <div class="tab-pane" id="E">
      <p>Modify content.</p>
    </div>
  </div>

</div>

<%= javascript_include_tag "../javascript/admin.js"%>