<div class="container">
  <div id="bl-main" class="bl-main">
    <section>
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-about">About</h2>
      </div>
      <div class="bl-content">
        <h2>About this app</h2>
        <p>This is short catalog of Grodno activities.</p>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section id="bl-work-section">
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-works">Planner</h2>
      </div>
      <div class="bl-content">
        <h2>My Planner</h2>
        <table id="tab1" border="1" cellspacing="5" cellpadding="0" bgcolor="#ffffcc" align="center" width="80%">
          <col span="1" width="15%">
          <col span="1" width="70%">
          <col span="1" width="15%">
          <tr height="190px">
            <td>
              <div>
              </div>
            </td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr height="240px">
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
        </table>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-blog">Catalog</h2>
      </div>
      <div class="bl-content">
        <h2>My Catalog</h2>
        <table id="tab2" border="1" cellspacing="5" cellpadding="0" bgcolor="#ffffcc" align="center" width="80%">
          <col span="1" width="20%">
          <col span="1" width="80%">
          <tr height="190px">
            <td>
              <div>
              </div>
            </td>
            <td rowspan="2">2</td>
          </tr>
          <tr height="240px">
            <td>3</td>
          </tr>
        </table>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-contact">Contact</h2>
      </div>
      <div class="bl-content">
        <h2>Get in touch</h2>
        <p>If you are interested to add your business to catalog - please contact me.</p>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
  </div>
</div><!-- /container -->
<script src="js/boxlayout.js"></script>
<script>
    $(function() {
        Boxlayout.init();
    });
</script>
