<table class="table" id="cat1">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @activity_categories.each do |activity_category| %>
      <tr value=<%= activity_category.id %>>
        <td><%= activity_category.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @activity_categories %>
<div class="DTTT_container">
  <a class="DTTT_button DTTT_button_text" id="new_cat">
    <span>New</span>
  </a>
  <a class="DTTT_button DTTT_button_text hidden" id="edit_cat">
    <span>Edit</span>
  </a>
  <a class="DTTT_button DTTT_button_text hidden" id="delete_cat" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
    <span>Delete</span>
  </a>
</div>
