<table class="table">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @activity_categories.each do |activity_category| %>
  <tr>
    <td><%= activity_category.name %></td>
    <td><a href="#" class="edit_cat" value="<%= activity_category.id %>">Edit</a> <%= link_to 'Destroy', activity_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br>
<a href="#" id="new_cat">New Activity category</a>