
#tab1 tr, #tab2 tr{
vertical-align: top;
background: white;
}
#tab1,#tab2{
width:100%;
margin-bottom: 50px;
padding: 0;
border: 1px #bbb;
}

.dropdown-toggle{
    height: 20px;
}

.tab_container{
margin: 0;
}

.tab_header{
    border-bottom: solid 1px #bbb;
    text-align: center;
}

ul{
margin: 0;
}

li{
    padding-left: 20px;
    position: relative;
    text-align: center;
}

span{
    float:right;
}


#header{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    height:110px;
    padding-top: 10px;
    background: #000000 url(../images/back.jpg);
    background-repeat: repeat;
}
#menu{
    margin-top: 10px;
    margin-left: 25px;
}

#auth{
    margin-top: 10px;
    margin-left: 77%;
    height:50px;
    padding: 5px;
}

#sign_out{
    margin: 5px;
    display: inline-block;
}

#container{
     margin-top: 10px;
     margin-left: 10%;
     background-color: white;
     width: 80%;
 }

#inspect{
    margin-top: 410px;
    margin-left: 10%;
    background-color: white;
    width: 80%;
}

li{
    list-style: none;
    padding-left: 0;
}

/* Page styles */
body{
    font-family:"Lucida Grande", arial, sans-serif;
    background:#ffffcc;
    overflow:auto; 
    padding-bottom: 20px;
}

#menu ul{
    margin:0;
    padding:0;
}

#menu li{
    width:100px;
    height:50px;
    float:left;
    color:#191919;
    text-align:center;
    overflow:hidden;
}

#menu a{
    color:#FFF;
    text-decoration:none;
}

p{
    padding:15px 5px;
}

.subtext{
    padding-top:15px;
}

/*Menu Color Classes*/
.green{background:#73603D;}
.yellow{background:#BF8A49;}
.red{background:#F2CA80;}
.purple{background:#5E5A59;}
.blue{background:#0D0D0D;}