
#tab1 tr, #tab2 tr{
vertical-align: top;
background: white;
}
#tab1,#tab2{
width:100%;
margin-bottom: 50px;
padding: 0;
border: 1px #bbb;
}

.dropdown-toggle{
    height: 20px;
}

.tab_container{
margin: 0;
}

.tab_header{
    border-bottom: solid 1px #bbb;
    text-align: center;
}

ul{
margin: 0;
}

li{
    padding-left: 20px;
    position: relative;
    text-align: center;
}

a span{
    float:right;
}

.dev_span{
    display: block;
    margin: 10px 40% 20px 40%;
    text-align: center;
    width: 20%;
}

.in_form{
    width: 80%;
    text-align: center;
    margin: 10px 10% 20px 10%;
}

#header{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    height:110px;
    padding-top: 10px;
    background: #000000 url(../images/back.jpg);
    background-repeat: repeat;
}
#menu{
    margin-top: 10px;
    margin-left: 25px;
}

#auth{
    margin-top: 10px;
    margin-left: 77%;
    height:50px;
    padding: 5px;
}

#sign_out{
    margin: 5px;
    display: inline-block;
}

#sign_in{
    margin: 5px 0 0 30px;
}

#container{
     margin-top: 10px;
     margin-left: 10%;
     background-color: white;
     width: 80%;
 }

#inspect{
    margin-top: 410px;
    margin-left: 10%;
    background-color: white;
    width: 80%;
}

li{
    list-style: none;
    padding-left: 0;
}

/* Page styles */
body{
    font-family:"Lucida Grande", arial, sans-serif;
    background:#ffffcc;
    overflow:auto; 
    padding-bottom: 20px;
}

#menu ul{
    margin:0;
    padding:0;
}

#menu li{
    width:100px;
    height:50px;
    float:left;
    color:#191919;
    text-align:center;
    overflow:hidden;
}

#menu a{
    color:#FFF;
    text-decoration:none;
}

p{
    padding:15px 5px;
}

.subtext{
    padding-top:15px;
}

/*Menu Color Classes*/
.green{background:#73603D;}
.yellow{background:#BF8A49;}
.red{background:#F2CA80;}
.purple{background:#5E5A59;}
.blue{background:#0D0D0D;}

.border-form-div {
    max-width: 230px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
    margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}