<table id="act1">
  <thead>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="DTTT_container">
  <a class="DTTT_button DTTT_button_text" id="new_act">
    <span>New</span>
  </a>
  <a class="DTTT_button DTTT_button_text hidden" id="edit_act">
    <span>Edit</span>
  </a>
  <a class="DTTT_button DTTT_button_text hidden" id="delete_act" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
    <span>Delete</span>
  </a>
</div>